---
# Only the main Sass file needs front matter (the dashes are enough)
---

$primary: #0d6efd;
$link-color: #0d6efd;
$body-bg: #ffffff;
$body-color: #212529;
$baseurl: "{{ site.url }}{{ site.baseurl }}";

// @import "variables";
@import "bootstrap/bootstrap";
// @import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
// @import "bootstrap_customization";
@import "bootstrap";
@import "SHB_css";




